* {
  box-sizing: border-box;
}

body {
  background-color: #f5d04e;
}

.card {
  border: 1.5px solid black;
  border-radius: 10px;
  background-color: #fff;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0);
}

.card img {
  border-radius: 10px;
  width: 100%;
}

.card button {
  margin-top: 30px;
  padding: 8px;
  width: 100px;
  background-color: #f5d04e;
  border-radius: 5px;
  border: none;
  color: hsl(0, 0%, 7%);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.card h4 {
  color: hsl(0, 0%, 7%);
  font-family: Arial, Helvetica, sans-serif;
}

.card h2 a {
  cursor: pointer;
  text-decoration: none;
  color: #f5d04e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card p {
  color: hsl(0, 0%, 42%);
}

.email {
  display: flex;
  align-items: center;
}

.email img {
  width: 40px;
}

.email h5 {
  margin-left: 10px;
  color: hsl(0, 0%, 7%);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
  .card {
    width: 300px;
  }
  .card h2 a {
    font-size: 20px;
    color: black;
  }
}
