.contact-container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    color: aliceblue;
    gap: 30px;
}

.contact-container h2{
    font-size: 3rem;
    text-align: center;
}

.contact-container .contact-text{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
}

.contact-container .contact-text p{
    font-size: 1.5rem;
}

.contact-container .contact-form{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-container .contact-form form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}

.contact-container .contact-form form input{
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: black;
    color:#7BF9F9 ;
    border-radius: 5px;
    background-image: linear-gradient(to right, #10f408, #10f408, #000);
    background-repeat: no-repeat;
    background-position: center bottom 10px;
    background-size: 100% 1px;
    outline: none;
}

.contact-container .contact-form form textarea{
    width: 100%;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color:#7BF9F9 ;
    border-radius: 5px;
    background-image: linear-gradient(to right, #10f408, #10f408, #000);
    background-repeat: no-repeat;
    background-position: center bottom 10px;
    background-size: 100% 1px;
    outline: none;
    resize: none;
}

.contact-container .contact-form form button{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: #7BF9F9;
    border-radius: 5px;
    background-image: linear-gradient(to right, #10f408, #10f408, #000);
    background-repeat: no-repeat;
    background-position: center bottom 10px;
    background-size: 100% 1px;
}

.contact-container .contact-form form button:hover{
    cursor: pointer;
    background-color: #10f408;
    color: black;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #10f408, #000, #000);
    background-repeat: no-repeat;
    background-position: center bottom 10px;
    background-size: 100% 1px;
}

.social-media{
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px auto;
    gap: 20px;
}

.social-media a{
    text-decoration: none;
    color: #7BF9F9;
    font-size: 1.5rem;
    margin-right: 25px;
}

.social-media a:hover{
    color: #10f408;
}





@media screen and (max-width: 768px) {
    
    .contact-container{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: aliceblue;
        gap: 30px;
    }
    
    .contact-container h2{
        font-size: 2rem;
        text-align: center;
    }
    
    .contact-container .contact-text{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px;
    }

    .contact-container .contact-text p{
        font-size: 1rem;
    }  
    .contact-container .contact-form{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }

    .contact-container .contact-form form input{
        width: 100%;
        height: 40px;
        padding: 10px;
        font-size: 16px;
        border: none;
        background-color: black;
        color:#7BF9F9 ;
        border-radius: 5px;
        background-image: linear-gradient(to right, #10f408, #10f408, #000);
        background-repeat: no-repeat;
        background-position: center bottom 10px;
        background-size: 100% 1px;
        outline: none;
    }

    .contact-container .contact-form form textarea{
        width: 100%;
        height: 200px;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: black;
        color:#7BF9F9 ;
        border-radius: 5px;
        background-image: linear-gradient(to right, #10f408, #10f408, #000);
        background-repeat: no-repeat;
        background-position: center bottom 10px;
        background-size: 100% 1px;
        outline: none;
        resize: none;
    }

    .contact-container .contact-form form button{
        width: 100%;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: black;
        color: #7BF9F9;
        border-radius: 5px;
        background-image: linear-gradient(to right, #10f408, #10f408, #000);
        background-repeat: no-repeat;
        background-position: center bottom 10px;
        background-size: 100% 1px;
    }

    .contact-container .contact-form form button:hover{
        cursor: pointer;
        background-color: #10f408;
        color: black;
        border: none;
        border-radius: 5px;
        background-image: linear-gradient(to right, #10f408, #000, #000);
        background-repeat: no-repeat;
        background-position: center bottom 10px;
        background-size: 100% 1px;
    }


     .social-media{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        gap: 20px;
    }

    .social-media a{
        text-decoration: none;
        color: #7BF9F9;
        font-size: 1.5rem;
    }

    .social-media a:hover{
        color: #10f408;
    }

}